local.properties
secret.properties
**/google-services.json

*.apk
*.ap_
*.dex
*.class
*.jks

.gradle
.kotlin
bin/
gen/
out/
build/
generated/
captures/
reports/

*.iml
.idea/*
!.idea/copyright
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
